@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf');
}

* {
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: hsla(333, 100%, 53%, 1);
  background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
  background-repeat: no-repeat;
}
footer {
  margin-top: 3em;
}
footer ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer ul li a {
  color: rgba(255, 255, 255);
}

footer ul li a i {
  font-size: 1.5em;
}